<div class="container">
  <div class="title-container">
    <h2>{{ countryData.country }}</h2>
  </div>
  <div class="stats-container">
    <div class="stat-card">
      <p>Number of entries</p>
      <h3>{{ numberOfEntries }}</h3>
    </div>
    <div class="stat-card">
      <p>Total number medals</p>
      <h3>{{ totalMedals }}</h3>
    </div>
    <div class="stat-card">
      <p>Total number of athletes</p>
      <h3>{{ totalAthletes }}</h3>
    </div>
  </div>

  <!-- Line Chart 
   xAxisLabel="Dates"
    [showXAxisLabel]="true" 
  -->
  <ngx-charts-line-chart 
  [view]="[700, 400]" 
  [results]="chartData" 
  [xAxis]="true" 
  [yAxis]="true" 
  
    [autoScale]="true">
  </ngx-charts-line-chart>
  <h2>Dates</h2>
  <button (click)="goBack()" class="back-button">Back to Home</button>
</div>


