<h2>Olympic games app</h2>
<hr />
<div class="chart-container">
  <h2 style="text-align: center;">Medals per Country</h2>
  <div class="number-box">
    <p>Number of JOs: {{ totalJOs }}</p>
  </div>
  <div class="number-box">
    <p>Number of Countries: {{ totalCountries }}</p>
  </div>
  
  <ngx-charts-pie-chart [view]="view" [results]="single" [legend]="false" [gradient]="gradient" [doughnut]="doughnut"
    [labels]="true" [trimLabels]="false" (select)="onSelect($event)">
  </ngx-charts-pie-chart>
</div>