/* Container styles */

h2 {
  text-align: center;
}



.title-container h2 {
  margin: 0;
}

/* Statistic cards styles */


/* Chart container */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pie chart customization */
ngx-charts-pie-chart {
  margin: auto;
}
