@import '../../../styles.scss';

body {
  font-family: 'Arial', sans-serif; // Use a clean sans-serif font
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
}

h2 {
  color: $primary-color;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
